<app-navbar></app-navbar>
<div class="row " style="padding-top: 3%; padding-bottom:9%;background-image: url(../../assets/files/D1.jpg);
background-attachment: fixed;
background-size: cover;width:auto;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg">
        <form >
          <div class="text-center">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold">{{'Add Role' | translate }}</h2>
        </div>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold">{{'Update Role' | translate }}</h2>
  
          <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Name' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>
                <input type="text" name="name" [(ngModel)]="form.data.name" class="form-control"
                  placeholder="{{'Enter Role Name' | translate }}">
              </div>
            </div>
          </div>
        <span class="alertRedColor">{{form.inputerror.name}}</span>
        
        <div style="padding-top:3%">
            <span><b>{{'Description' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-bars grey-text "></i> </div>
                </div>
                <textarea  name="description" [(ngModel)]="form.data.description" class="form-control"
                  placeholder="{{'Enter Description' | translate }}"></textarea>
              </div>
            </div>
            <span class="alertRedColor">{{form.inputerror.description}}</span>
          </div>


          <div class="btnList justify-content-center" style="margin-top: 10%;">
            <div class="saveBtn ">
              <button *ngIf="!form.data.id>0" (click)="submit()"    class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>
            <div>
              <button  *ngIf="form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>
            
            <div>
              <button (click)="forward('/rolelist')" class="btn btn-md btn-warning">
                {{'List' | translate }}</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>