<!-- <app-navbar></app-navbar>



<div>
    <p class="text-info font-weight-bold" style="padding-left: 30%; font-size: 70px;">WELCOME TO ORS</p>
    <div style="background-image: url(../../assets/files/IndexView.png); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        padding-bottom:18%;
        padding-top: 5%;
        ">

        <p class="text-white font-weight-bold" style="padding-top: 10%; padding-left: 25%; font-size: 20px;">.</p>
    </div>
</div>
<app-footer></app-footer> -->
<app-navbar></app-navbar>
<div class="">
    <div class="img-fluid" style="background-image: url(../../assets/files/D33.jpg); 
        -webkit-background-size: 100%;
       /*  -moz-background-size: 100%; 
        -o-background-size: 100%; */
        background-size: 100%;
        padding-bottom:31%;">
        <p class="text-warning font-weight-bold" style="text-align: center; font-size: 70px;">Online Result System</p>   
    </div>
</div>
<app-footer></app-footer>